<div class="card contact-card">
    <form action="#" class="form" method="post">
        <div class="form-fields-group">
            <label for="contactName" class="field-block-label" >Name</label>
            <input type="text" placeholder="John DOE" name="contactName" id="contactName" class="form-field">
        </div>
        <div class="form-fields-group">
            <label for="contactMail" class="form-block-label" >Your Email adress</label>
            <input type="text" placeholder="john@doe.com" name="contactMail" id="contactMail" class="form-field">
        </div>
        <button class="btn">Get Started</button>
    </form>
</div>