<footer class="footer">
    <div class="footer-anim">
        <div class="footer-anim-blue-bg"></div>
        <div class="footer-anim-car"><img src="../../../assets/images/trekmobil.png" alt=""></div>
        <div class="footer-anim-pink-bg"></div>
    </div> 
    <div class="footer-top">           
        <div class="container">
            <div class="ft-get-started">
                <div class="row">
                    <div class="col-5 col-xs-12">
                        <blockquote>We provide traffic management consultants so you get started quickly, contact us for a quote today!</blockquote>
                    </div>
                    <div class="col-7 col-xs-12">
                        <app-quick-contact class="qc"></app-quick-contact>
                    </div>
                </div>
            </div>
            <div class="footer-menu  dp-flex justify-content-space-between">
                <div class="logo"><a href="#"><img src="../../../assets/images/logo.png" alt="Trafico"></a></div>
                
                <ul class="list-group inline-list">
                    <li class="list-item"><a href="#">About</a></li>
                    <li class="list-item"><a href="#">How To</a></li>
                    <li class="list-item"><a href="#">FAQs</a></li>
                </ul>
            </div> 
        </div> 
    </div>
    <div class="container">
        <div class="footer-copyright dp-flex justify-content-space-between">
            <span>Copyright &copy; 2020</span>
            <ul class="social-links inline-list">
                <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>