<header class="py-4 pt-xs-1 pb-xs-1">
    <div class="container dp-flex align-items-center pr-xs-0">
        <div class="logo mr-5"><a href="#"><img src="../../../assets/images/logo.png" alt="Trafico"></a></div>
        <nav id="nav-menu" class="" #appNav>
            <ul class="menu">
                <li class="menu__item"> 
                    <a href="#" class="menu__item__link">About</a>
                    <ul class="menu__sub">
                        <li class="menu__item"> <a href="#" class="menu__item__link">Us</a> </li>
                        <li class="menu__item"> <a href="#" class="menu__item__link">History</a> </li>
                        <li class="menu__item"> 
                            <a href="#" class="menu__item__link">Engagement</a>
                            <ul class="menu__sub">
                                <li class="menu__item"> <a href="#" class="menu__item__link">Vision</a> </li>
                                <li class="menu__item"> <a href="#" class="menu__item__link">Mission</a> </li>
                                <li class="menu__item"> <a href="#" class="menu__item__link">QoS</a> </li>
                            </ul>
                        </li>
                    </ul>  
                 </li>
                <li class="menu__item"> <a href="#" class="menu__item__link">How to</a> </li>
                <li class="menu__item"> <a href="#" class="menu__item__link">Faqs</a> </li>
                <li class="menu__item"> <a href="#" class="menu__item__link btn">Contact</a> </li>
            </ul>
            <div class="menu-icon">
                <span class="flaticon-menu open" (click)='toggleMenu()'></span>
                <span class="flaticon-close close"  (click)='toggleMenu()'></span>
            </div>
        </nav>
        
    </div>
</header>
