.row{

    &::before{
        content: "";
        display: table;
    }

    &::after{
        content: "";
        clear: both;
        display: table;
    }    
}

[class*="col-"] {
    float: left;
    padding: 1.07rem;
}

@for $i from 1 through $col-lim {
    .col-#{$i}{
        width: calc-col-width($i);
    }

    @include mobile-only {
        .col-xs-#{$i}{
            width: calc-col-width($i);
        }
    }

    @include land-tab {
        .col-tab-#{$i}{
            width: calc-col-width($i);
        }
    }
}

.grid-row{

    &::before{
        clear: both;
    }
    
    display: grid;
    grid-template-columns: repeat(12, $col-width);
}

@for $i from 1 through $col-lim {
    .grid-col-#{$i}{
        grid-column: span $i;
    }

    @include mobile-only {
        .grid-col-xs-#{$i}{
            grid-column: span $i;
        }
    }

    @include land-tab {
        .grid-col-tab-#{$i}{
            grid-column: span $i;
        }
    }
}